<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.tyagiabhinav.muse">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/muse_icon2"
        android:label="MUSE"
        android:theme="@style/AppTheme"
        android:roundIcon="@drawable/muse_icon2"
        android:supportsRtl="true">
        <activity android:name="com.tyagiabhinav.muse.loadingactivity" android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tyagiabhinav.muse.MainActivity" />
    </application>

</manifest>